<h1 class="text-center script my-4 text-2xl text-turquoise font-light">Show <%= payment_method.wording %></h1>

<p>
  <%= link_to("Retour", "/payment_methods", class: "btn btn-light btn-sm") -%>
  <%= link_to("Modifier", "/payment_methods/#{payment_method.id}/edit", class: "btn btn-success btn-sm") -%>
  <%= link_to("Supprimer", "/payment_methods/#{payment_method.id}?_csrf=#{csrf_token}", "data-method": "delete", "data-confirm": "Are you sure?", class: "btn btn-danger btn-sm") -%>
</p>
