<h1><%= date.date %></h1>
<p>
  <%= link_to("Back", "/dates", class: "btn btn-light btn-sm") -%>
  <%= link_to("Edit", "/dates/#{date.id}/edit", class: "btn btn-success btn-sm") -%>
  <%= link_to("Delete", "/dates/#{date.id}?_csrf=#{csrf_token}", "data-method": "delete", "data-confirm": "Are you sure?", class: "btn btn-danger btn-sm") -%>
</p>