<div class="mt-6 mb-24 text-center">
    <h2 class="py-4">Années</h2>
    <a class="py-2 px-6 border rounded border-green hover:border-white bg-white text-green hover:bg-green hover:text-white no-underline transition" href="/invoices/new">Nouvelle facture</a>
</div>
<%- years.each do |year| %>
    <%= link_to("#{year.date!.to_s("%Y")}", "/years/#{year.date!.to_s("%Y")}", class: "bg-white w-1/4 rounded text-xl p-10 mt-32 no-underline text-black hover:text-yellow-dark transition hover:bg-white-dark") -%>
<%- end %>