<div class="mt-10 p-4 rounded bg-grey">
  <h1 class="text-center text-yellow script font-light text-6xl pt-4 pb-8">Vue d'ensemble</h1>
  <div class="flex w-1/2 mx-auto">
    <button id="current_month" class="mr-auto text-center py-1 px-6 script transition text-white hover:text-turquoise bg-black-light text-4xl font-light rounded">Mois en cours</button>
    <button id="quarter_historic" class="mx-auto text-center py-1 px-6 script transition text-white hover:text-turquoise bg-black-light text-4xl font-light rounded">Trimestres</button>
    <button id="year_historic" class="ml-auto text-center py-1 px-6 script transition text-white hover:text-turquoise bg-black-light text-4xl font-light rounded">Années</button>
  </div>
</div>
