@tailwind preflight;
@tailwind components;
@tailwind utilities;
  
html {
  width: 100%;
  height: 100%;
}

.transition {
  transition: .5s;
}

.pointer:hover {
 cursor: pointer;
}

.script {
  font-family: 'Kaushan Script', cursive;
}